<div (click)="toggleBreeds.emit($event)" class="search-multiple-dogos">
    <form [formGroup]="submitForm" id="form" action="">
        <h2>Search for multiple dogos!</h2>
        <input formControlName="dogo" type="text" placeholder="Example: cattledog australian" (click)="toggleBreeds.emit($event)">
        <button type="submit" (click)="dogoCall(submitForm.value.dogo)">Submit</button>
        
        <div class="matching-breeds">
            <app-matching-breeds *ngIf="submitForm.value.dogo && matchingBreeds" [inputField]="submitForm.value.dogo" (dogoCall)="dogoCall($event)"></app-matching-breeds>
            
        </div>
    </form>

    <div class="dogos" *ngIf="dogoImgs.length > 0 && dogoImgs[0] !=='Breed not found (master breed does not exist)'">
        <div *ngFor="let dogoImg of dogoImgs" class="dog-continaer">
            <app-saved-dogo-image [src]="dogoImg" (activateFullImg)="activateFullImg.emit($event)"></app-saved-dogo-image>
            <button type="button" class="add-dogo" (click)="saveDogo(dogoImg)">Add dogo!</button>
        </div>
    </div>

    <h1 class="no-dogo" *ngIf="dogoImgs[0] === 'Breed not found (master breed does not exist)'">Sorry! Not found.</h1>
</div>