#form {
    text-align: center;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(17, 108, 218);
    z-index: 10;
}

.dogos {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 50px;
}

.dogo-container {
}

.no-dogo {
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.add-dogo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -40px
}

.matching-breeds {
    z-index: 10;
    position: relative;
    top: 5px;
}

.search-multiple-dogos {
    height: 90%;
}