#form {
    text-align: center;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(17, 108, 218);
    z-index: 10;
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#description {
    margin-left: 50px;
    margin-right: 50px;
}

input {
    width: 200px;
    margin-bottom: 10px;
    z-index: 10;
}

button:hover {
    background: rgb(198, 198, 198);
}

button:active {
    font-size: 15px;
}

form {
    margin: 20px
}

#not-found {
    padding-top: 60px;
}

.content {
    display: none
}

.saveDogo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 10px;
    border: 3px;
    font-size: large;
}

.matching-breeds {
    z-index: 10;
    position: relative;
    top: -5px;
}