.dogos {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    row-gap: 30px;
}

.no-dogo {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.remove-button {
    position: relative;
    text-align: center;
    margin-top: -10px;
}