img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    max-width: 800px;
    border-style: solid;
    max-height: 500px;
    position: relative;
}

#img-container {
    display: flex;
    margin-top: 80px;
    width: 40%;
    height: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}