<span class="content">dog-search app is running!</span>

<!--<div class="hamburger" (click)="toggleNav()">
    <div class="hamburger-items" [ngStyle]="{'transform': 'rotate(' + hamburgerDeg + 'deg)'}">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>-->

<div class="app" [class.app-no-nav]="noNav === true">
    <div id="nav-bar" *ngIf="noNav === false" #newPage>
        <app-nav-bar (setPage)="setPage($event)"></app-nav-bar>
    </div>
    <div id="page">
        <app-dog-search *ngIf="page === 'search-dogo'"
         (toggleBreeds)="toggleBreeds($event)"
         [matchingBreeds]="matchingBreeds"
         (activateFullImg)="activateFullImg($event)"
         ></app-dog-search>
         
        <app-saved-dogos *ngIf="page === 'saved-dogos'"
        (activateFullImg)="activateFullImg($event)"
        ></app-saved-dogos>

        <app-search-multiple-dogos *ngIf="page === 'search-multiple-dogos'"
         (toggleBreeds)="toggleBreeds($event)"
         [matchingBreeds]="matchingBreeds"
         (activateFullImg)="activateFullImg($event)"
         ></app-search-multiple-dogos>

         
        
        
    </div>

    <app-full-image class="full-image" 
    *ngIf="fullImage" 
    [url]="imgUrl" class="full-image"
    (disactivateFullImg)="disactivateFullImg()"
    ></app-full-image>
</div>

