<h1>Welcome!</h1>

<h3>Hello! This is an improved version of dog ceo's fron-end website. To get started, click on on
    e of the three tabs on the navbar to your right. Type a dog breed name into the input bar in
    the search dogo or search multiple dogos tabs, and click submit to get a picture or pictures
    of whatever breed you typed in! You can search by sub-breed as well, all you need to do is
    type in the dog breeds name, add a space, then type in the sub-breeds name. When you start
    typing in the input bar, you may see a list of dog breed names that contain the letters
    you have typed in. This works for dog breeds, but not sub-breeds. Other than that, the only
    other Things you may want to know, is that you can also click on images to see their full
    size. There is also a function to save dog pictures, that gets saved into your cookies, so you don't
    lose them.</h3>

    <img id="dogo-gif" src="https://c.tenor.com/jfjJTbLq35gAAAAC/doggo-dog.gif" alt="">